// stylelint-disable no-empty-source
// @include font-face("../fonts/FontName/FontName", "FontName", 400, normal);

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

@font-face {
	src: url("../fonts/roboto-black.woff2") format("woff2"), url("../fonts/roboto-black.woff") format("woff");
	font-family: "roboto-black";
	font-weight: 400;
	font-style: normal;
}
